# Editor backups and junk
*~
*.bak

# Autotools stuff
Makefile.in
Makefile

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

/config.log
/config.sub
/config.guess
/config.status
/config.h.in
/config.h
/libtool
/ltmain.sh
/stamp-h1

# C stuff

*.o
.libs
.deps

# Products

src/bindfs
tests/readdir_inode
tests/utimens_nofollow
tests/*.log
tests/internals/test_internals
tests/internals/*.log

